html body{
    height: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1100px;
    height: auto;
}

.header__container{
    width: auto;
    height: 70px;
    background: #385a8b;
    display: grid;
    grid-template-columns:  10% 10% 10% 10% 10% 10% 10% auto;
    grid-template-rows: 70px;
}

header div{
    display: grid;
}

.nav__container{
    grid-column: 1/8;
    display: grid;
}

.ul__container{
    
}

.li__item{
    grid-column: 1/8;
    display: inline;
    justify-content: space-around;
    align-items: stretch;
    color: beige;
}
.search__container{
    display: grid;
    grid-column: 8/9;
    order: 8;
}

.search__input{
    display: inline;
}

.search__input-item{
    justify-content: end;
}

.btn__search-item{}


